*{
  font-size: 24px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #858486;
  margin: 0;
  padding: 0;
}

body{
  background: #f5f4f6;
  padding-top: 50px;
}

.App{
  width: 700px;
  margin: 0 auto;
  padding: 10px;

  background-color: #fffdff;

  border: 1px solid #e8e7e8;
  box-shadow: 5px 5px 10px #dbd6db;
}


.add-todo{
  border: 1px solid #e8e7e8;

  display: flex;
  justify-content: space-around;
}

.App input,.App button{
  padding: 5px;
  border: none;
}

.App input[type="text"]{
  flex-grow: 1;
  outline: none;
}

.App button{
  cursor: pointer;
}

ul{
  display: flex;
  flex-direction: column;
}

.todo-item{
  border-bottom: 1px solid #e8e7e8;
  list-style: none;

  padding: 4px;
  margin-top: 10px;

  position: relative;

  display: flex;
  justify-content: space-between;
}

.todo-item-text{
  flex-grow: 1;
}

.todo-item-remove{
  color: #f00;
  cursor: pointer;
}

.checkbox{
  margin-right: 10px;
  position: relative;
  top: 8px;
  opacity: 0;
}

.fake-checkbox{
  display: inline-block;
  height: 17px;
  width: 17px;

  border: 1px solid #858486;
  border-radius: 50%;

  position: absolute;
  left: 0;
  top: 9px;
}

.fake-checkbox-mark{
  height: 17px;
  width: 17px;

  position: absolute;
  top: -11px;
  left: 1px;

}


input:checked + span{
  color: #c4c4c4;
  text-decoration: line-through;
}